{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}

	<div class="container">
		<div class="columns is-flex is-justify-content-center">
			<div class="column is-two-thirds mt-4">
				<h1 class="title is-1 has-text-centered">
					Bienvenue dans Centrale 0Car</h1>
				<p>
					Ce site permet de lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu risus at purus lacinia pellentesque at et velit. In rhoncus urna a lectus lacinia ultrices. Sed et mi nibh. Nam pharetra venenatis dapibus. Curabitur blandit gravida turpis vel commodo. In pulvinar sit amet neque vitae tincidunt. Etiam pretium felis sit amet ex varius, luctus pretium nibh sagittis. Maecenas porttitor nunc velit, vel rutrum dui blandit vel. Fusce nec pellentesque turpis, ut placerat mauris. Suspendisse sit amet imperdiet ipsum. Ut volutpat pellentesque fringilla. Integer finibus fermentum viverra. Vivamus bibendum quam a lacinia efficitur.</p>
			</div>
		</div>
		<div class="columns is-flex is-justify-content-center">
			{% for publication in most_recent_publications %}

				<div class="column">
					<div class="card">
						<div class="card-image">
							<figure class="image is-4by3">
								<img src="/images/{{loop.index}}.jpeg" alt="Placeholder image">
							</figure>
						</div>
						<div class="card-content">
							<div class="is-flex is-justify-content-space-between">
								<h3 class="title is-5 is-text-centered">{{publication.car.brand.name}}
									{{publication.car.model}}</h3>

								<p class="title is-5">{{publication.price| number_format(0,'.',' ')}}
									€</p>
							</DIV>
							<h2 class="mt-3 title is-4 is-text-centered">{{publication.title}}
							</h2>

							<div class="content">
								{{publication.description}}
								<br>
								<time datetime="2016-1-1">{{publication.publishedAt|date('h:i - d/m/Y')}}</time>
							</div>
						</div>
						<footer class="card-footer">
							<a href="#" class="card-footer-item">Voir l'annonce</a>
						</footer>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
