        <div class="row d-flex justify-content-center">
            <div class="col-6">
                {{form_start(form)}}
                    {{form_row(form.model)}}
                    {{form_row(form.fuel)}}
                    {{form_row(form.releasedAt)}}
                    {{form_row(form.brand)}}
                    {{form_row(form.category)}}
                <div class="d-flex justify-content-center">
                    <BUTTON CLASS="btn btn-primary rounded btn">Soumettre</BUTTON>
                </div>
                {{form_end(form)}}

            </div>
        </div>
