        <div class="row d-flex justify-content-center">
            <div class="col-6">
                {{form_start(form)}}
                    {{form_row(form.title)}}
                    {{form_row(form.description)}}
                    {{form_row(form.price)}}
                    {{form_row(form.car)}}
                <div class="d-flex justify-content-center">
                    <BUTTON CLASS="btn btn-primary rounded btn">Soumettre</BUTTON>
                </div>
                {{form_end(form)}}

            </div>
        </div>
